
body {
    background-color: rgb(245, 245, 200);
}

h1{
    text-align: center;
    font-size: 50px;
    font-family: fantasy;
    color: rgb(247, 247, 247);
    background-color: rgb(60, 67, 78);
    border-style: outset;
    border-color: rgb(0, 0, 0);
    
}