
body {
    background-color: rgb(245, 245, 200);
}

h1{
    text-align: center;
    font-size: 50px;
    font-family: fantasy;
    color: rgb(247, 247, 247);
    background-color: rgb(60, 67, 78);
    border-style: outset;
    border-color: rgb(0, 0, 0);
    
}

button{
    padding: 15px 25px;
    font-size: 13.3px;
    text-align: center;
    outline: none;
    box-shadow: 0 9px #999;
    height: 60px;
    width: 120px;
    color: rgb(247, 247, 247);
    background-color: rgb(60, 67, 78);
    border-color: rgb(3, 3, 3);
    border-style: inset;
    border-radius: 7.5px;
    margin-bottom: 15px;
    cursor: pointer;
}

button:hover{
    background-color: gray;
}

button:active{
    background-color: #029ec5;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}